 {% extends 'base.html' %}
{% block main_page%}
 {% comment %} <div class="container">
        <header>
            <div class="row mb-3" style="margin-top:75px;"> 
                <div class="col-6 offset-3">
                    <span class="d-flex justify-content-center">
                        <a href="#" class="logo h-1">Short URL</a>
                        <i class="fa-duotone fa-octagon-xmark"></i>
                    
                    </span>
                </div>
            </div>
        </header>
        
        
        
        
    </div>
    <hr class="" style="border-top: 2px solid #161b1d;"/> {% endcomment %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class='col-8 offset-2'>
               
                    
                        <h5 class=" mb-2  tl-text" >Privacy Policy</h5>
                        <h6 class=" mb-4   tx-text  text-monospace"  > 
                            Your privacy is important to us, this privacy policy explains what personal information we collect and how it is used. The site collects this information to analyze and provide better experiences with our services.
                        </h6>
                        <h5 class="   mb-2  tl-text"  >Technologies and personal data</h5>
                        <h6 class="  mb-4  tx-text  text-monospace"> 
                            This site may use tools to collect user data, such as your IP address, web browser and operating system, identifying the number of visitors and understand how they use the site.
                        </h6>
                        
                        <h5 class="   mb-2 tl-text"  >Cookies and advertising network</h5>
                        <h6 class="  mb-4  tx-text "> 
                            We use third-party advertising companies to serve ads when you visit our site. These companies, such as our advertisers, may use cookies (small text files placed on your device) and similar technologies to collect information for the purpose of displaying ads related to products and services of interest to you.

                            This site may display advertisements served by Google advertising network, which uses cookies to identify user preferences and browsing habits. Users can get more information about these cookies and privacy on Google's website.

                            Web browsers accept cookies automatically, but if you prefer you can modify the configuration of your browser to refuse cookies. However, this can affect how you are able to interact with our site and other sites on the Internet.
                        </h6>
                        <h5 class="mb-2  tl-text"  >Other important information</h5>
                        <h6 class="  mb-4  tx-text  mb-5"> 
                            If there are any questions regarding privacy or need any further information, please contact our team.
                         </h6>
                        
                        
 
                        
         
                   
            </div>
        </div>
    </div>
    {% comment %} <div class="footer">
        <!-- <hr class="text-primary" style="border-top: 5px solid #00a0db;"/> -->
        <span class=" table-dark">  &copy 2022 ShortUrl.at - Tool to shorten a long link.
        </span>
        <ul class="d-flex  justify-content-center" style="list-style: none;">
            <li><a class="text-decoration-none footer-url  pe-5" href="shorturl">ShortUrl.at</a></li>
            <li><a class="text-decoration-none footer-url  pe-5" href="url-click-counter">URL Click Counter</a></li>
            <li><a class="text-decoration-none footer-url  pe-5" href="report-malicious-url">Report Malicious URL</a></li>
            <li><a class="text-decoration-none footer-url  pe-5" href="terms-of-service">Terms of Service</a></li>
            <li><a class="text-decoration-none footer-url  pe-5" href="privacy-policy">Privacy</a></li>
            <li><a class="text-decoration-none footer-url  pe-5" href="contact">Contact</a></li>
        </ul>
    </div> {% endcomment %}
{% endblock main_page%}