{% extends 'base.html' %}
{% block main_page %}
{% comment %} <div class="container">
        <header>
            <div class="row mb-3" style="margin-top:75px;"> 
                <div class="col-6 offset-3">
                    <span class="d-flex justify-content-center">
                        <a href="#" class="logo h-1 bold" style="font-family:'Asap Condensed', sans-serif;">Short URL</a>
                        <i class="fa-duotone fa-octagon-xmark"></i>
                    
                    </span>
                </div>
            </div>
        </header>
        
        
        
        
    </div> {% endcomment %}
    {% comment %} <hr class="" style="border-top: 2px solid #161b1d;"/> {% endcomment %}
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class='col-8 offset-2'>
               
                    
                        <h5 class=" mb-2  tl-text">Terms of Service</h5>
                        <h6 class=" mb-4  tx-text" style="color: #484848;"> 
                            This page explains the terms of use of Short URL, the user when using the shortener site is conditioned to the acceptance of the terms and conditions of use
                        </h6>
                        <h5 class="   mb-2 tl-text">Conditions of use</h5>
                        <h6 class=" tx-text mb-4   " style="color: #484848;"> 
                            The site is available for access to all users without age or country restrictions and therefore you need to agree with the conditions of use when using our services.<br/><br/>

                            In order to provide a secure service for users it is not allowed to create short links that redirect to URLs that have:<br/>
                            <br/><i class="fa-solid fa-check text-primary bold px-2 py-1"></i>Content that spreads phishing, malware or viruses
                            <br/><i class="fa-solid fa-check text-primary bold px-2 py-1"></i>Abusive or suspicious content
                            <br/><i class="fa-solid fa-check text-primary bold px-2 py-1"></i>Pornographic, sexual, violent or prejudiced content
                            <br/><i class="fa-solid fa-check text-primary bold px-2 py-1"></i>Any content that may infringe other people's rights
                            <br/><i class="fa-solid fa-check text-primary bold px-2 py-1"></i>Disgusting, explicit or offensive content that causes any kind of discomfort to other users
                            <br/><i class="fa-solid fa-check text-primary bold px-2 py-1"></i>Pop ups, scripts and malicious code
                            <br/><i class="fa-solid fa-check text-primary bold px-2 py-1"></i>Pages that provide information that is false, inaccurate or incomplete
                            <br/><i class="fa-solid fa-check text-primary bold px-2 py-1"></i>Double redirection and pages without content
                            <br/><i class="fa-solid fa-check text-primary bold px-2 py-1"></i>Content to collect data and personal information from users</br></br>
                            Also, don't use Short URL to shorten links for ad campaigns and spam material.
                            <br/><br/>
                            Every link created is verified by our team, if we notice any kind of abusive behavior that violates our terms of service in shortening links, they will be deleted without notice. Shortened links that do not receive clicks will also be deleted.
                            
                        </h6>
                        
 
                        
         
                   
            </div>
        </div>
    </div>
    {% comment %} <div class="footer">
        <!-- <hr class="text-primary" style="border-top: 5px solid #00a0db;"/> -->
        <span class=" table-dark">  &copy 2022 ShortUrl.at - Tool to shorten a long link.
        </span>
        <ul class="d-flex  justify-content-center" style="list-style: none;">
            <li><a class="text-decoration-none footer-url pe-5" href="shorturl">ShortUrl.at</a></li>
            <li><a class="text-decoration-none footer-url pe-5" href="url-click-counter">URL Click Counter</a></li>
            <li><a class="text-decoration-none footer-url pe-5" href="report-malicious-url">Report Malicious URL</a></li>
            <li><a class="text-decoration-none footer-url pe-5" href="terms-of-service">Terms of Service</a></li>
            <li><a class="text-decoration-none footer-url pe-5" href="privacy-policy">Privacy</a></li>
            <li><a class="text-decoration-none footer-url pe-5" href="contact">Contact</a></li>
        </ul>
    </div> {% endcomment %}
{% endblock main_page %}