<div class="footer">
    <!-- <hr class="text-primary" style="border-top: 5px solid #00a0db;"/> -->
    <span class=" text-white tx-text">  &copy 2022 ShortUrl.at - Tool to shorten a long link.
    </span>
    <ul class="d-flex  justify-content-center" style="list-style: none;">
        <li><a class="text-decoration-none footer-url pe-5" href="shorturl">ShortUrl.at</a></li>
        <li><a class="text-decoration-none footer-url pe-5" href="url-click-counter">URL Click Counter</a></li>
        <li><a class="text-decoration-none footer-url pe-5" href="report-malicious-url">Report Malicious URL</a></li>
        <li><a class="text-decoration-none footer-url pe-5" href="terms-of-service">Terms of Service</a></li>
        <li><a class="text-decoration-none footer-url pe-5" href="privacy-policy">Privacy</a></li>
        <li><a class="text-decoration-none footer-url pe-5" href="contact">Contact</a></li>
    </ul>
</div>